.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(189, 189, 189);
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.lib-head {
  display: flex;
  align-items: center;
  position: sticky;
  background-color: white;
  top: 0;
  left: 0;

  h2 {
    flex-grow: 0.85;
  }

  span {
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.open-library {
  transform: translateX(0);
  opacity: 1;
}

.library-song-container {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 0.3s;
  img {
    width: 30%;
  }

  &:hover {
    background-color: #e7e7e7;
  }
}

.active {
  background-color: #e7e7e7;
}

.song-description {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
