nav {
    display: flex;
    min-height: 10vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    button {
        background: transparent;
        border: none;
        border: 2px solid rgb(65, 65, 65);
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgb(65, 65, 65);
            color: white;
        }
    }
}