.song-controls {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-control {
    width: 50%;
    display: flex;
    margin-bottom: 1rem;
    
    input {
        width: 100%;
        
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    svg {
        cursor: pointer;
        user-select: none;
        transition: 0.2s ease-in;
        &:hover {
            color: rgb(54, 54, 54);
        }
    }
}