* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    color: rgb(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
}

h3, h4 {
    font-weight: 400;
}

p {
    max-width: 63px;
    min-width: 63px;
}

.App {
    margin-top: 5rem;
}
@import './SongDisplay';
@import './SongPlayer';
@import './library';